
<div id="nav">
	  <div id="menu" class="page box relative">
		<dl id="topmenu">  
		<dt class="menu_first" style="width:122px"><a href="/MyCms/index.html" target="_self" ><span>首 页</span></a></dt>
		
       <dt ><a href="/MyCms/html_findByChannel.action?channel.channelId=2&page=1&rows=20" target="_self" ><span>国内新闻</span></a></dt>
       <dt ><a href="/MyCms/html_findByChannel.action?channel.channelId=3&page=1&rows=20" target="_self" ><span>国外新闻</span></a></dt>
       <dt ><a href="/MyCms/html_findByChannel.action?channel.channelId=4&page=1&rows=20" target="_self" ><span>社会热点</span></a></dt>
       <dt ><a href="/MyCms/html_findByChannel.action?channel.channelId=5&page=1&rows=20" target="_self" ><span>时事评论</span></a></dt>
       <dt ><a href="/MyCms/html_findByChannel.action?channel.channelId=6&page=1&rows=20" target="_self" ><span>图片新闻</span></a></dt>
       <dt ><a href="/MyCms/html_findByChannel.action?channel.channelId=7&page=1&rows=20" target="_self" ><span>基金视点</span></a></dt>
       <dt ><a href="/MyCms/html_findByChannel.action?channel.channelId=8&page=1&rows=20" target="_self" ><span>财经报道</span></a></dt>
		
	  </dl>
	  </div> 
</div>